@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tooltip-bg: rgba(31, 41, 55, 0.95);
    --tooltip-border: #4b5563;
    --tooltip-text: #f3f4f6;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --tooltip-bg: rgba(255, 255, 255, 0.95);
    --tooltip-border: #e5e7eb;
    --tooltip-text: #000;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

